.fil_1 th, 
.fil_2 th,
.fil_3 th{
    border: solid 4px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}


/* ==== Data table  = Start ===== */

.data_table{
    background: #fff;
     padding: 15px;
     box-shadow: 1px 3px 5px #aaa;
     border-radius: 5px;
 }
 
 .data_table .btn{
     padding: 5px 10px;
     margin: 10px 3px 10px 0;
 }
 
 
 
 /* ==== Data table  = End  ===== */